.Navbar {
  width: 100%;
}

.container {
  width: 90%;
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding: 20px 0;
  height: 100px;
  background-color: white;
}

.MenuIcon {
  width: 9%;
}

.Logo {
  max-width: 82px;
}

@media (min-width: 769px) {
  .MenuIcon {
    display: none;
  }
}
